/LABSv2/Lab3/obj/Debug/net10.0/apphost.exe
/LABSv2/Lab3/obj/Debug/net10.0/Lab3.csproj.CoreCompileInputs.cache
/LABSv2/Lab3/obj/Debug/net10.0/Lab3.csproj.FileListAbsolute.txt
/LABSv2/Lab3/bin/Debug/net10.0/Lab3.deps.json
/LABSv2/Lab3/bin/Debug/net10.0/Lab3.dll
/LABSv2/Lab3/obj/Debug/net10.0/ref/Lab3.dll
/LABSv2/Lab3/obj/Debug/net10.0/refint/Lab3.dll
/LABSv2/Lab3/obj/Debug/net10.0/Lab3.dll
/LABSv2/Lab3/bin/Debug/net10.0/Lab3.exe
/LABSv2/Lab3/obj/Debug/net10.0/Lab3.genruntimeconfig.cache
/LABSv2/Lab3/bin/Debug/net10.0/Lab3.pdb
/LABSv2/Lab3/obj/Debug/net10.0/Lab3.pdb
/LABSv2/Lab3/bin/Debug/net10.0/Lab3.runtimeconfig.json
/LABSv2/Lab3/obj/Debug/net10.0/Lab3.sourcelink.json
